@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,500;1,700&display=swap');
body {
    background-color: #ffffff;
}

h1 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    padding: ;
    margin: auto;
    font-weight: 700;
    text-decoration: ;
    color: #333333;
    background-color: transparent;
    text-align: center;
}

h2 {
    font-size: ;
    font-family: 'Roboto', sans-serif;
    padding: 3rem;
    margin: auto;
    font-weight: 400;
    color: #333333;
    background-color: ;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0.7rem 4rem;
    margin: auto;
    color: #333333;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: ;
    height: 20rem;
    width: 20rem;

    margin: 3rem auto;
}
